<%= stylesheet_link_tag "first"%>
<div class = "Cards row"> 
<% @cards.each do |c| %>
    <div class = "col">
        <img src = <%=c["image"]%> class="rounded float-left"/> 
    </div>
<% end %>
</div>