<h1>Current Users!</h1>
<div class = "container">
    <div class = "row">
    <% @users.each do |user| %>
        <div class = "col set"> 
            <h3>Username: <%=user[:username]%><h3>
            <h3>Hands Won: <%=user[:wins]%></h3>
            <h3>Hands Lost: <%=user[:losses]%></h3>
            <h3>Current Tokens: <%=user[:current_tokens]%></h3>
        </div>
    <% end %>
    </div>
</div>


