body {
    background-color: rgb(16, 134, 95);
}

.Cards_Player {
    overflow-y: hidden;
    margin-top: 75px;
    margin-left: 305px;
}

.Cards_Dealer {
    overflow-y: hidden;
    margin-top: 25px;
    margin-left: 25px;
}

.val {
    float: left;
    margin: 10px;
    font-size: 60px;
    font-family:cursive;
}

.val2 {
    float: left;
    padding-right: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hit {
    padding-top: 35px;
    padding-bottom: 35px;
}

